@import "tailwindcss";
*{
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.overflow-x-scroll {
  /* display: none; */
  overflow-x: scroll;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
